@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-4 col-sm-6">
    <div class="statistic-block block">
        <div class="progress-details d-flex align-items-end justify-content-between">
            <div class="title">
                <div class="icon"></div><strong>Codes Submitted</strong>
            </div>
            <div class="number dashtext-1">@ViewBag.TotalSubmissions</div>
        </div>
        <div class="progress progress-template">
            <div role="progressbar"
                 style="width: @ViewBag.TotalSubmissions%"
                 aria-valuenow="@ViewBag.TotalSubmissions"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 class="progress-bar progress-bar-template dashbg-1">
            </div>
        </div>
    </div>
</div>

